/* UNIT 1 PORTFOLIO*/

/* INDIGO PALETTE:

#4b0082 purple
#8298e4 light indigo
#f0d9bd light beige
#928eb9 gray purple
#dba879 beige
#1f4699 cerulean
#1e1e58 dark indigo
#dfe8f1 light cyanide

*/

nav {
    text-align: center;
    background: url(https://tinyurl.com/47ev6h8u);
    background-size: cover;
    color: #dfe8f1;
    display: flex;
    flex-direction: column;
}

.heading-container {
  display: flex;
  align-self: center;
  align-content: center;
  width: 100%;
  padding: 10px;
}


.list-container {
  display: flex;
  align-self: center;
  align-content: center;
  align-content: center;
  width: 100%;
}

.previous {
 display: flex;
 align-self: center;
 position: absolute;
 right: 90%;
}

.next {
  display: flex;
  align-self: center;
  right: 10%;
  position: absolute;
 }

h1 {
    font-family: 'Gloock';
    font-size: 75px;
    color: white;
    text-align: center;
  }
  h2 {
    font-family: 'Gloock';
    background-color: #928eb9;
    text-align: center;
    font-size: 50px;
    color: white;
  }

a {
    color: white;
    font-family: 'Gloock';
}
  
ul {
    text-align: center;
    padding: 10px;
    background: rgba(0,0,0,0.3);
    width: 100%;
}

li {
    display: inline;
    padding: 0px 10px 0px 10px;
}
    
body {
    background-color: #928eb9 ;
    text-align: center;
}

/*carousel*/

.carousel-button:hover {
  cursor: pointer;
  color: white;
}
    
.carousel-images img:first-of-type {
  display:block
}
    
.carousel-images img {
  border-radius: 10px;
  display: none;
  width: 1000px;
}
 
.carousel-container {
  width: 70%;
  display: flex;
  justify-content: space-around;
}

.carousel-images {
  width: 80%;
  background: #928eb9;
  padding: 10px;
  border-radius: 10px;
  box-sizing: border-box;
    
    }
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
    
 
/* biography */


p {
  color: rgba(255,255,255,1);
  background: linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  padding: 10px;
  text-align: justify;
  height: 50px;
  transition: height .05s;
  border-radius: 10px;
  flex-direction: column;
  font-size: 30px;
}

small {
  opacity: 0;
  font-size: 30px;
 
}

.show-description p {
  height: 100%;
}

.show-description small {
  opacity: 1;
}



.biography{
  background: #1e1e58;
  display: flex;
  border-radius: 10px;
  width: 90%;
  font-family: 'Gloock';
  display: flex;
  align-items: center;
}


#pic {
  max-width: 100%;
  height: auto;
  display: flex;
  margin: 0 auto !important;
  padding: 20px;
  border-radius: 5px;
  flex-direction: column;

}

.more {
  float: right;
  font-size: 12px;
  padding: 30px 30px;
}

/* .form{
  background-color:#928eb9;
  margin: 10px auto;
  overflow: auto;
  border-radius: 10px;
  width: 80%;
  font-family: 'Gloock';

} */

/*modal*/

/* #modal {
	position: fixed;
	top: 100px;
	left: 10px;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
}

#modal-textbox {
	height: 350px;
	width: 550px;
	border-radius: 10px;
	margin: auto;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	padding: 1%;
	line-height: 120%;
  background-color: #dfe8f1;

}
#modal-footer {
	text-align: right;
	font-family: 'Gloock'
}

.modal-buttons {
	padding: 14px 18px;
	background-color: #1e1e58;
	border: none;
	outline: none;
	border-radius: 10px;
	color: white;
	font-family: 'Gloock';
	cursor: pointer;
} */

@media only screen
and (max-width: 1500px) {
  .carousel-images img {
    border-radius: 10px;
    display: none;
    width: 700px;
  }
  .show-description p {
    height: 55%;
  }
}

@media only screen
and (max-width: 1000px)
and (orientation: portrait) {

  h1 {
    font-size: 100px;
    margin-top: 20px;
    line-height: 40px;
  }
  h2 {
    font-size: 50px;
    margin: 20px 0 30px 0;
  }

  li {
    font-size: 50px;
  }
  div {
    margin: 20px 12px 0 12px;
  }
  p {
    font-size: 50px;
    line-height: 24px;
  }
  small {
    font-size: 50px;
  }
  .show-description p {
    height: 3%;
  }

  #react {
    src: url(https://tinyurl.com/552kn64d);
  }

  #php {
    src: url(https://tinyurl.com/4u44nh5j);
  }

  #flexbox {
    src: url(https://tinyurl.com/2e8n6mah);
  }

}
